include ./mixins
doctype html
block page
  html
    head
      block head
        title Kenzo
        //- meta(property="og:title", content="Kenzo")
        //- meta(property="og:description", content="Description")
        //- meta(property="og:image", content="")
        //- include parts/favicon
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=cyrillic", rel="stylesheet")
        link(href="build/css/main.css", rel="stylesheet")
        //- link(rel="icon" type="image/png" href="favicons.png" sizes="16x16")
        script(src="build/js/vendor/jquery-3.2.1.min.js")
        script(src="build/js/vendor/jquery.ba-throttle-debounce.js")
        script(src="https://cdn.rawgit.com/iserdmi/afterlag-js/2.0.2/dist/jquery.afterlag.min.js")
        script(src="build/img/svg/sprite.js")
        script(src="https://yastatic.net/share2/share.js")
    body
      .svg-sprite.l-hidden
      script
        | $('.svg-sprite').html(SVG_SPRITE);
      .layout(class="layout--" + layout)
        include parts/header
        block content
        include parts/footer
      
      script(src="build/js/vendor/TweenMax.min.js")
      script(src="build/js/vendor/ScrollToPlugin.min.js")
      script(src="build/js/vendor/ScrollMagic.min.js")
      script(src="build/js/vendor/animation.gsap.min.js")
      script(src="build/js/main.js")