.header {
  fixed(0px, 0px);
  width: 100vw;
  z-index: 9;
  background: transparent;
  color: white;
  
  .layout & {
    width: 100vw;
  }
  
  &__content {
    padding: 20px 0;
    flexy(space-between, center);
    z-index: 2;
  }
  
  &__text {
    display: block;
    font: 14px/1 $font-base;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    opacity: 1;
    @media $smWidth {
      .layout--home & {
        font-size: (20*100/640)vw;
        padding: 1em;
        fixed(100vh, 0px);
        size(100vh, (60*100/640)vw);
        transform: rotate(-90deg);
        transform-origin: top left;
      }
      .layout--detail & {
        display: none;
      }
    }
    @media $xsHeight {
      display: none;
    }
  }
  
  &__nav-btn {
    z-index: 9;
    .layout--detail & {
      display: none;
      @media $smWidth {
        display: block;
      }
    }
  }
  
  &__nav-btn,
  &__logo {
    flex: 0 0 185px;
    @media $msWidth {
      flex-basis: 25vw;
    }
    @media $xsWidth {
      flex-basis: 130px;
    }
  }
  
  &__logo {
    size(185px, 30px);
    @media $msWidth {
      width: 25vw;
    }
    @media $xsWidth {
      width: 130px;
    }
    
    .icon {
      display: block;
      size(100%);
    }
  }
  &__center {
    flex: 0 0 calc(100% - 185px * 2);
    height: 1.5rem;
    flexy(center, center);
    
    .layout--detail & {
      justify-content: flex-start;
    }
  }
  
}

.btn-menu {
  display: block;
  relative();
  size(50px, 29px);
  padding: 7px 0;
  border: 0;
  box-shadow: none;
  background: transparent;
  color: white;
  
  {hover-focus-active} {
    color: inherit;
    outline: 0;
  }
  
  &::before,
  &::after {
    content: '';
    display: block;
    absolute(50%, 0px);
    size(100%, 5px);
    background: currentColor;
    transform-origin: left center;
    transition: transform 0.3s;
    border-radius: 5px;
  }
  
  &::before {
    transform: translateY(-7.5px);
  }
  &::after {
    transform: translateY(2.5px) scaleX(0.5);
  }
  &:hover::after {
    transform: translateY(2.5px) scaleX(1);
  }
  &.is-open {
    &::before,
    &::after {
      transform-origin: center;
    }
    &::before {
      transform: scaleX(1) rotate(-25deg);
    }
    &::after {
      transform: scaleX(1) rotate(25deg);
    }
  }
}
