.home-section {
  padding: 100px 0 130px;
  @media $lgHeight {
    padding: 11vh 0 calc(100vh - 11vh - 570px);
  }
  @media $xsWidth {
    padding: 0 0 20px;
  }
  @media $xsHeight {
    padding: 0 0 20px;
  }
  &__link {
    display: block;
    
    .is-animating & {
      pointer-events: none;
    }
    .is-animating .animate & {
      pointer-events: initial;
    }
  }
  &__imgs {
    flexy(center, center);
  }
  &__img {
    
    img {
      display: block;
      @media $mdHeight {
        size(auto, calc(100vh - 100px - 130px));
      }
      @media $xsWidth {
        size(auto, calc(100vh - 70px - 100px));
      }
      @media $xsHeight {
        size(100%, auto);
      }
    }
    &::after {
      content: '';
      display: block;
      absolute(0px, 0px);
      size(100%);
      background: rgba(#071f22, 0.6);
      opacity: 0;
      transition: opacity 0.8s 0.2s;
      .is-animating .animate ^[0]__link.a-enter & {
        opacity: 1;
      }
    }
    &--1 {
      z-index: 2;
      .is-animating & {
        transform: scaleY(0);
        transform-origin: top center;
        transition: transform 0.4s 0.8s;
        @media $smWidth {
          transform: translateY(20%);
          opacity: 0;
          transition: opacity 0.3s, transform 0.5s;
        }
      }
      .is-animating .animate & {
        transform: scaleY(1);
        transform-origin: bottom center;
        transition: transform 0.4s 0s;
        @media $smWidth {
          transform: translateY(0);
          opacity: 1;
          transition: opacity 0.3s, transform 0.5s;
        }
      }
    }
    &--2,
    &--3 {
      z-index: 1;
      img {
        @media $mdHeight {
          height: calc(100vh - 100px - 130px - 150px);
        }
      }
      @media $smWidth {
        display: none;
      }
    }
    &--2 {
      order: -1;
      .is-animating & {
        transform: translateX(100%);
        opacity: 0;
        transition: opacity 0.1s 0.6s, transform 0.5s 0.3s;
      }
      .is-animating .animate & {
        transform: translateX(0);
        opacity: 1;
        transition: opacity 0.1s 0.2s, transform 0.5s 0.3s;
      }
      .is-animating .animate ^[0]__link.a-enter & {
        transform: translateX(120px);
        transition: transform 0.3s 0s;
      }
      .is-animating .animate ^[0]__link.a-leave & {
        transform: translateX(0);
        transition: transform 0.3s 0s;
      }
    }
    &--3 {
      order: 1;
      .is-animating & {
        transform: translateX(-100%);
        opacity: 0;
        transition: opacity 0.1s 0.3s, transform 0.5s;
      }
      .is-animating .animate & {
        transform: translateX(0);
        opacity: 1;
        transition: opacity 0.1s 0.6s, transform 0.5s 0.6s;
      }
      .is-animating .animate ^[0]__link.a-enter & {
        transform: translateX(-120px);
        transition: transform 0.3s 0s;
      }
      .is-animating .animate ^[0]__link.a-leave & {
        transform: translateX(0);
        transition: transform 0.3s 0s;
      }
    }
  }
  &__content {
    absolute(0, 0px);
    top: calc((100vh - 100px) / 2);
    width: 100%;
    z-index: 3;
    @media $lgHeight {
      top: 380px;
    }
    @media $xsWidth {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__text {
    font: 500 50px/1 $font-base;
    text-align: center;
    color: white;
    letter-spacing: 0.1em;
    @media $mdWidth {
      font-size: 4vw;
    }
    @media $xsWidth {
      font-size: 12vw;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1.2;
    }
    .is-animating & {
      transform: translateY(50%);
      opacity: 0;
      transition: transform 0.5s, opacity 0.3s;
    }
    .is-animating .animate & {
      transform: translateY(0);
      opacity: 1;
      transition: transform 0.5s, opacity 0.3s;
    }
  }
  &__icon {
    font-size: 30px;
    margin-top: 7.5vh;
    color: white;
    text-align: center;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.2s 0.3s, transform 0.5s 0.3s;
    @media $lgHeight {
      margin-top: 60px;
    }
    @media $xsWidth {
      display: none;
    }
    .is-animating .animate ^[0]__link.a-enter & {
      opacity: 1;
      transform: translateX(0);
    }
  }
}