.nav-menu {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    flexy(center, center);
    
    @media $smWidth {
      flex-wrap: wrap;
    }
  }
  
  &__item {
    margin: 0 0.75rem;
    @media $smWidth {
      margin: (12*100/640)vw (16*100/640)vw;
      
      &:last-child {
        flex: 1 1 100%;
      }
    }
    
    .main-nav & {
      margin: 0 0.5rem;
      @media $lgWidth {
        margin: 0 0.75rem;
      }
    }
  }
  
  &__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font: normal 14px/1 $font-base;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
    
    {hover-focus-active} {
      color: white;
      border-bottom-color: currentColor;
      outline: 0;
    }
    
    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }
    
    &.active {
      color: white;
      border-bottom-color: currentColor;
      outline: 0;
    }
  }
}
.main-nav {
  display: none;
  absolute(0px, -4rem);
  width: 100%;
  @media $lgWidth {
    left: 0;
  }
}