include ../mixins
.footer
  .l-container-fluid
    .footer__content
      if layout == 'detail'
        +social(false, false).footer__social
        +navMenu(mainNav).footer__nav
      .footer__text Материал подготовлен при поддержке
      .footer__logo
        +icon('kenzo')