include ../mixins
.header
  .l-container-fluid
    .header__content
      .header__nav
        button.btn-menu
          +icon('burger')
      .header__text специальный проект
      .header__logo
        +icon('marie-claire')